body {
    background: darkgreen
}

.timer {
        position:relative;
        text-align: center;
        font-family: "luminari";
        font-size: 200;
        top: 50;
        color: tomato;
        
}

.tacky {
    margin: 0 auto;
    background-color: lightblue;
    border: none;
    font-size: 15pt;
    padding: 10px;
    border-radius: 25px;
}
